* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.player-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
}